body {
    margin: 0;
}

.button-panel-container {
    z-index: 1;
}

#button-panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    background: red;
}

#container {
    background: linear-gradient(to top, #eacda3, #d6ae7b);
    margin: 0px 30px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0
}

.color-change-button {
    margin: 16px 20px;
    height: 54px;
    width: 100px;
    border-radius: 8px;
    font-size: medium;
    border-style: none;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
}

.custom-color-button {
    margin: 16px 20px;
    height: 54px;
    width: 100px;
    border-radius: 8px;
    font-size: medium;
    border-style: none;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
}

#custom-color-panel {
    background-color: blue;
    position: fixed;
    top: 24px;
    right: 0;
    width: 33.33%;
    height: 90%;
    margin: 0 12px;
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
}

#custom-color-inputBar {
    width: 160px;
    border-radius: 4px;
    border-style: none;
    padding: 10px 20px;
    font-size: medium;
    font-weight: bold;
    width: 85%;
}
